<!doctype html>
<html lang="en" ng-app="codeeditorApp">

<head>
  <meta charset="utf-8">
  <title>Angular + Monaco Editor example</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="app.css" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.module.js"></script>
  <script src="monaco-editor/monaco-editor.module.js"></script>
  <script src="monaco-editor/monaco-editor.directive.js"></script>

  <!-- TODO - currently need to manually copy from the monaco-editor folder from node_modules to the app/libs folder -->
  <script src="/libs/monaco-editor/min/vs/loader.js"></script>
  <script>
    require.config({ paths: { 'vs': '/libs/monaco-editor/min/vs' } });
    require(['vs/editor/editor.main'], function () {
      monaco.languages.registerCompletionItemProvider('python', {
        provideCompletionItems: () => {
          return [
            {
              label: 'def',
              kind: monaco.languages.CompletionItemKind.Keyword,
              insertText: {
                value: 'def ${1:name}():\r\t$0'
              }
            }
          ]
        }
      })
    });
  </script>

</head>

<body>
  <div ng-controller="CodeController">
    <h1>Sample page with monaco-editor</h1>
    <div>
      Code file:
      <select ng-model="selectedCodeFile" ng-options="codeFile.filename for codeFile in codeFiles"></select>
    </div>
    <div>
      Theme:
      <select ng-model="selectedTheme" ng-options="theme for theme in themes"></select>
    </div>

    <h2>Currently editing - {{selectedCodeFile.filename}}</h2>
    <div monaco-editor code-file="selectedCodeFile" editor-theme="selectedTheme" style="width:800px;height:600px;border:1px solid grey"></div>

    <h1>Simple textarea to show binding:</h1>
    <textarea name="" id="" cols="30" rows="10" ng-model="selectedCodeFile.code"></textarea>

  </div>
</body>

</html>